<!DOCTYPE html>
<html>
<head>
	<title>TicTacToe - De Jesus</title>
	<link rel="stylesheet" href="/static/styles/vendor/bootstrap.min.css">
</head>
<body>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-lg-4 mt-5' style="margin-left: auto;margin-right: auto;text-align: center;">
				<h1>TIC TAC TOE</h1>
				<div class='card bg-dark'>
					<div class='card-body'>
						<form action='/game' method='post'>
							<div class='form-group'>
								<input class='form-control form-control-sm' type="text" name="player1" placeholder="Player 1 Name" required="required">
							</div>
							<div class='form-group'>
								<input class='form-control form-control-sm' type="text" name="player2" placeholder="Player 2 Name" required="required">
							</div>
							<div class='form-group'>
								<input class='btn btn-primary btn-block'type="submit" value="Start Game">
							</div>
						</form>
						<a class='btn btn-danger btn-block' href="/game_results">Game Results</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>